body {
    margin: 0;
    font-family: Nunito;

}


/* ⭐️ Header ⭐️ */

header {
    background-color: #E8F5E2;
    font-family: Nunito;
}


.header__nav {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 20px 0 20px 20px;
}

.header__logo img {
    justify-content: flex-start;
    padding-left: 30px;
    justify-items: center;
    width: 104px;
    height: 30px;

}




/* ⭐️ Hero section ⭐️ */

.hero__boxes {
    display: flex;
  }
  
.hero__left-box,
.hero__right-box {
  flex: 1;
  padding: 20px 40px 40px 40px;
  box-sizing: border-box;
  background-color: #E8F5E2;
  }
  
  .hero__discount {
    background-color: white;
    border: 3px solid black;
    border-radius: 50%; 
    padding: 20px;
    width: 110px;
    height: 110px;
    position: absolute;
    margin-left: 590px;
    z-index: 2;
    text-align: center;
    margin-top: -35px;
  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero__discount-number {
    color: #000;
    font-family: Nunito;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: -22px;
  }
  
  .hero__discount-txt {
    color: #000;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
  }



.hero__feature {
  width: 585px;
  height: 395px;
  flex-shrink: 0;
  
  border-radius: 10.807px 10.807px 0px 0px;
  border-radius: 10.807px 10.807px 25.217px 10.807px;
  border: 2.402px solid #000;
  background: #FFF;
  box-shadow: 4.80328px 4.80328px 0px 0px #000;
  position: relative;
  }
  
.hero__feature img {
  width: 585px;
  height: 309px;
  flex-shrink: 0;
  
  border-radius: 7px 7px 0px 0px;
  object-fit: cover;
  }
  
.hero__feature-price {
  width: 123px;
  height: 86px;
  flex-shrink: 0;
  
  border-radius: 0px 0px 19.465px 0px;
  border: 2px solid #000;
  background: #9AC588;
  color: white;
  
  text-align: center;
  margin-left: 150px;
  align-items: center;
  
  position: absolute;
  bottom: -2px;
  right: -1px;
  z-index: 2;
  }

.old {
  color: rgba(0, 0, 0, 0.60);
  font-family: Nunito;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: strikethrough;
  }

.new {
  color: #000;
  font-family: Nunito;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

  
.hero__feature-text {
  padding-left: 20px;
  align-items: center;
  padding-top: 25px;
  color: #000;

  font-family: Nunito;
  font-size: 26.418px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

.hero__right-box {
  border-right: 1px solid black;
  font-weight: bold;
  margin-left: -100px;
  }

.hero__right-box h1 {
  display: flex;
  width: 639px;
  height: 131px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 60px;
  
  color: #000;
  font-family: Nunito;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }


.hero__followup-msg h5 {
  margin-top: 20px;
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviews {
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.hero__msg,
.hero__followup-msg,
.users__line,
.user__highlight {
  padding-left: 120px;
  top: 20px;
  }


.hero__left-box {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 30px;
}

.hero__left-box li {
    list-style: none;
    display: inline-flex;
  flex-direction: column;
}

.hero__left-box-button{
  display: flex;
  width: 290px;
  height: 47px;
  padding: 14px 17px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;

  border-radius: 3px;
  border: 2px solid #000;
  background: #FF6565;
  box-shadow: 4px 4px 0px 0px #000;

  color: #000;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero__left-box-btn {
  padding-left: 0px;
  margin-top: -10px;
}

.hero__download-number {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;   
}

.hero__download-number, 
.hero__download-note {
  display: inline-block;
  margin: 10px;
  flex-direction: row;
}

.hero__download-steps li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.hero__download-steps {
  background-color: #E8F5E2;
  padding: 30px;
  margin-top: -50px;
}

.hero__download-steps ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 100px;
}




/* ⭐️ Brand section ⭐️ */

.brand__section {
  background-color: black;
  padding: 10px;
  padding-bottom: 270px;
  width: 1440px;
  height: 505px;
  flex-shrink: 0;
}

.brand__section a {
  text-decoration: none;
}

.brand__section-list li {
  list-style: none;
  display: inline;
  align-items: flex-start;
  vertical-align: middle;
  padding-left: 60px;
  margin-right: 60px;
}

.brand__section-list {
  padding-top: 40px;
}

.brand__section-list-view-all {
  color: white;
}

.brand__section-list-view-all, 
.brand__section-list-view-all img {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  text-decoration: underline;
}

.brand__section-list img {
  height: 45px;
}

.brand__section-list-view-all img {
  height: 24px;
}


/* ⭐️ Featured cards section ⭐️ */

.featured__cards {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 100px;
  margin-top: -720px;

  color: #000;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 70px;
}

.featured__cards li {
    margin-left: -25px;
}

.card1-text, .card1-price, 
.card2-text, .card2-price, 
.card3-text, .card3-price, 
.card4-text, .card4-price,
.card5-text, .card5-price, 
.card6-text, .card6-price {
  display: inline-block;
  vertical-align: middle;
}


/*  CARD 1  */


.card1 {
  width: 413px;
  height: 278.436px;
  flex-shrink: 0;

  border-radius: 7.617px 7.617px 17.773px 7.617px;
  border: 1.693px solid #000;
  background: #FFF;
  box-shadow: 3.4px 3.4px 0px 0px #000;
  position: relative;
}

.card1 img {
  width: 413px;
  height: 218.348px;
  flex-shrink: 0;

  border-radius: 7px 7px 0px 0px;
  object-fit: cover;
}

.card1-price {
  width: 77.861px;
  height: 60.088px;
  flex-shrink: 0;

  border-radius: 0px 0px 19.465px 0px;
  border: 1.693px solid #000;
  background: #080303;
  color: white;
}

.card1-text {
  padding-left: 20px;
  align-items: center;
  padding-top: 12px;
}

.card1-price {
  text-align: center;
  margin-top: -6px;
  margin-left: 150px;
  align-items: center;

  position: absolute;
  bottom: -3px;
  right: -1px;
  z-index: 2;
}

/* CARD 2 */

.card2 {
  width: 347px;
  height: 278px;
  flex-shrink: 0;
  position: relative;

  border-radius: 7.6px 7.6px 17.7px 7.6px;
  border: 1.69px solid #000;
  background: #FFF;
  box-shadow: 3.4px 3.4px 0px 0px #000;
}

.card2 img {
  width: 347px;
  height: 218.006px;
  flex-shrink: 0;
  border-radius: 6px 15px 0px 0px;
  
  object-fit: cover;
  position: absolute;
  bottom: -1px;
  z-index: 1;
  object-position: center;
  transform: scaleY(-1);
  object-position: 50% 77%;
}

.card2-text {
  padding-left: 20px;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
}

.card2-price {
  width: 65.418px;
  height: 59.994px;
  flex-shrink: 0;

  border-radius: 0px 0px 19.435px 0px;
  border: 1.69px solid #000;
  background: #080303;
  color: white;

  text-align: center;
  margin-top: 0px;
  align-items: center;

  position: absolute;
  bottom: -3px;
  right: -1px;
  z-index: 2;
}


/*  CARD 3  */

.card3 {
  width: 347px;
  height: 278px;
  flex-shrink: 0;
  position: relative;

  border-radius: 7.6px 7.6px 17.7px 7.6px;
  border: 1.69px solid #000;
  background: #FFF;
  box-shadow: 3.4px 3.4px 0px 0px #000;
}

.card3-text {
  padding-left: 20px;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
}

.card3-price {
  width: 65.418px;
  height: 59.994px;
  flex-shrink: 0;

  border-radius: 0px 0px 19.435px 0px;
  border: 1.69px solid #000;
  background: #080303;
  color: white;

  text-align: center;
  margin-top: 0px;
  align-items: center;

  position: absolute;
  bottom: -3px;
  right: -1px;
  z-index: 2;
}

.card3 img {
  width: 347px;
  height: 218.006px;
  flex-shrink: 0;
  border-radius: 0px 0px 15px 6px;
  object-fit: cover;
  position: absolute;
  bottom: -1px;
  z-index: 1;
}


/*  CARD 4  */

.card4 {
  width: 298px;
  height: 278px;
  flex-shrink: 0;

  border-radius: 7.6px 7.6px 17.7px 7.6px;
  border: 1.7px solid #000;
  background: #FFF;
  box-shadow: 3.4px 3.4px 0px 0px #000;
  position: relative;
} 

.card4 img {
  width: 298px;
  height: 213.994px;
  flex-shrink: 0;

  border-radius: 0px 0px 14px 6px;
  object-fit: cover;
  position: absolute;
  bottom: -0.5px;
  z-index: 1;
}

.card4-text {
  padding-left: 20px;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
}

.card4-price {
  width: 56.18px;
  height: 59.994px;
  flex-shrink: 0;

  border-radius: 0px 0px 19.435px 0px;
  border: 1.69px solid #000;
  background: #080303;
  color: white;

  text-align: center;
  margin-top: 0px;
  align-items: center;
  position: absolute;
  bottom: -3px;
  right: -1px;
  z-index: 2;
}


/*  CARD 5  */

.card5 {
  width: 477px;
  height: 278px;
  flex-shrink: 0;

  border-radius: 7.5px 7.6px 17.7px 7.6px;
  border: 1.693px solid #000;
  background: #FFF;
  box-shadow: 3.4px 3.4px 0px 0px #000;
  position: relative;
} 

.card5-photo {
  position: relative;
}

.card5-photo img {
  width: 477px;
  height: 218.006px;
  flex-shrink: 0;
  object-position: 0% 61%;
  border-radius: 6px 6px 0px 0px;
  object-fit: cover; 
}

.card5-text {
  padding-left: 20px;
  align-items: center;
  padding-top: 12px;
}

.card5-price {
  width: 89.926px;
  height: 59.994px;
  flex-shrink: 0;

  border-radius: 0px 0px 19.465px 0px;
  border: 1.693px solid #000;
  background: #080303;
  color: white;

  text-align: center;
  margin-top: -6px;
  align-items: center;

  position: absolute;
  bottom: -3px;
  right: -1px;
  z-index: 2;
}

/* CARD 6 */

.card6 {
  width: 347px;
  height: 278px;
  flex-shrink: 0;
  position: relative;

  border-radius: 7.6px 7.6px 17.7px 7.6px;
  border: 1.69px solid #000;
  background: #FFF;
  box-shadow: 3.4px 3.4px 0px 0px #000;
}

.card6-text {
  padding-left: 20px;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
}

.card6-price {
  width: 65.418px;
  height: 59.994px;
  flex-shrink: 0;

  border-radius: 0px 0px 19.435px 0px;
  border: 1.69px solid #000;
  background: #080303;
  color: white;

  text-align: center;
  margin-top: 0px;
  align-items: center;

  position: absolute;
  bottom: -3px;
  right: -1px;
  z-index: 2;
}

.card6 img {
  width: 347px;
  height: 218.006px;
  flex-shrink: 0;
  border-radius: 0px 0px 15px 6px;
  object-fit: cover;
  position: absolute;
  bottom: -1px;
  z-index: 1;
  object-position: 0% 78%;
}


/* FEATURED CARDS ALL */

.featured__cards-all{ 
  margin-top: -100px;
  margin-left: -25px;
  
}

.featured__cards-all p, .featured__cards-all img {
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline; 
  padding-bottom: 20px;
  color: white;
  
}

.featured__cards-all img {
  padding-left: 100px;
  margin-right: 12px;
}

/* ⭐️ Footer section 1 ⭐️ */

.footer__line1 {
  background-color: #E8F5E2;
  display: flex;
  border-top: 1px solid black;
  padding: 50px 100px 15px 100px;
  align-content: center;
  justify-content: space-between;
}

.footer__menu-list li {
  list-style: none;
  display: inline;
  margin: 10px;
  
}

.footer__menu-list a {
  color: #000;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

/* ⭐️ Footer section 2 ⭐️ */

.footer__line2 {
  background-color: #E8F5E2;
  display: flex;
  padding: 10px 108px 20px 50px;
  align-content: center;
  justify-content: space-between;
}

.footer__socials-list li {
  list-style: none;
  display: inline;
  margin: 10px;
}

.footer__copyright p {
  color: #6C7667;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__socials {
  margin-top: -20px;
}












